/*
	ELEMENTS.CSS - HERE I TRY TO KEEP ALL INDIVIDUALLY
	STYLED ELEMENTS, IDs CLASSES ETC...
*/


/*	FORM_LOGIN
------------------------------------------------------------------------------------------------------------------------------------*/

.form_login {
    text-align: center;
}

.form_login input {
    text-align: center;
}

.form_login button {
    width: 33%;
    float: left;
    display: block;
    margin: 5px auto;
}

.form_login .button_login {
    float: none;
    width: 50%;
    clear: both;
}

.form_login .button_forgot {
    float: right;
}


/*	FORM_NEWUSER
------------------------------------------------------------------------------------------------------------------------------------*/

.form_newuser {}

.form_newuser label {
    float: left;
    width: 40%;
    clear: left;
    margin: 5px 0;
}

.form_newuser input {
    float: left;
    width: 60%;
    clear: right;
    margin: 5px 0;
}

.form_newuser button {
    width: 33%;
    clear: both;
    display: block;
    margin: 10px auto;
}


/*	FORM_FORGOTPASS
------------------------------------------------------------------------------------------------------------------------------------*/

.form_forgotpass {
    text-align: center;
}

.form_forgotpass input {
    text-align: center;
}


/*	HEADER
------------------------------------------------------------------------------------------------------------------------------------*/

header .page {
    position: relative;
    height: 100%;
}

header h1 {
    position: absolute;
    bottom: 10px;
    left: 0px;
}

@media(max-width:1280px) {
    header h1 {
        left: 10px;
    }
}


/*	MAIN MENU
------------------------------------------------------------------------------------------------------------------------------------*/

#mainmenu ul {
    list-style: none;
    padding: 0;
}

#mainmenu input {
    display: none;
}

#mainmenu label {
    display: none;
    color: #fff;
    width: 60px;
    text-align: center;
}

#mainmenu label:before {
    content: "\f0c9";
    font: 2em/1em FontAwesome;
    line-height: 60px;
}

#mainmenu input:checked+label:before {
    content: "\f00d";
}

#mainmenu li {
    display: block;
    float: left;
    border-right: 1px solid #ccc;
}

#mainmenu li:nth-child(1) {
    border-left: 1px solid #ccc;
}

#mainmenu a {
    display: block;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: #000;
}

#mainmenu a:hover {
    background-color: #999;
}

@media(max-width:480px) {
    #mainmenu {
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: 1;
        border-radius: 10px;
        border: 0;
    }
    #mainmenu label {
        display: block;
    }
    #mainmenu input:checked+label+ul {
        display: block;
    }
    #mainmenu ul {
        padding: 0 0 10px 0;
        display: none;
    }
    #mainmenu li {
        float: none;
        border-right: 0;
        border-bottom: 1px solid #ccc;
    }
    #mainmenu li:nth-child(1) {
        border-left: 0;
        border-top: 1px solid #ccc;
    }
}


/*	BANNER ITEM
------------------------------------------------------------------------------------------------------------------------------------*/

#banner article {
    max-width: 806px;
    min-height: 240px;
    margin: 0 auto;
    background-color: orange;
    text-align: center;
}

#banner a {
    text-decoration: none;
}

#banner h3 {
    color: #eee;
    font-size: 3em;
    padding: 1em 0;
}

#banner span {
    border-top: 1px solid #eee;
    padding: 0.5em 40px;
}


/*	PRODUCT LIST ITEM
------------------------------------------------------------------------------------------------------------------------------------*/

#productlist article {
    background-color: #fff;
    width: 33.3333333333333333%;
    float: left;
    padding: 5px;
    position: relative;
}

#productlist article:nth-child(3n+1) {}

#productlist a {
    display: block;
    min-height: 370px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

#productlist a:hover {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0.15) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0.15) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0.15) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */
    -webkit-box-shadow: 0px -10px 20px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -10px 20px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -10px 20px -15px rgba(0, 0, 0, 0.75);
}

#productlist .promo {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}

#productlist img {
    max-width: 250px;
    width: 100%;
}

#productlist .price {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#productlist h3 {
    position: absolute;
    bottom: 40px;
    left: 0px;
    padding: 0 10px;
}

#productlist .buynow {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

#productlist .buynow:before {
    content: "\f07a";
    padding: 0 10px 0 0;
    font: 2em/40px FontAwesome;
}

@media(max-width:768px) {
    #productlist article {
        width: 50%;
    }
}

@media(max-width:480px) {
    #productlist article {
        width: 100%;
        float: none;
    }
}


/*	SOCIAL LINKS
------------------------------------------------------------------------------------------------------------------------------------*/

#social ul {
    list-style: none;
    padding: 0;
}

#social li {
    display: block;
}

#social a {
    text-decoration: none;
}

#social a:before {
    font: 2em/1em FontAwesome;
    padding: 0 5px 0 0;
}

#social .facebook:before {
    content: "\f082";
    color: #3b5998;
}

#social .twitter:before {
    content: "\f099";
    color: #00aced;
}

#social .linkedin:before {
    content: "\f08c";
    color: #007bb6;
}


/*	PRODUCT DESCRIPTION
------------------------------------------------------------------------------------------------------------------------------------*/

#productdesc .buynow {
    float: left;
}

#productdesc .buynow:before {
    content: "\f07a";
    font: 2em/1em FontAwesome;
    padding: 0 20px 0 0;
}

#productdesc .price {
    float: left;
    font-size: 1.5em;
    line-height: 40px;
    padding: 0 0 0 20px;
}

@media(max-width:480px) {
    #productdesc .price {
        padding: 20px 0 0 0;
    }
}


/*	PRODUCT IMAGE
------------------------------------------------------------------------------------------------------------------------------------*/

#productimage {}

#productimage figure {
    margin: 0 auto;
    position: relative;
    max-width: 372px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0.15) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0.15) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0.15) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */
    -webkit-box-shadow: 0px -10px 20px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -10px 20px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -10px 20px -15px rgba(0, 0, 0, 0.75);
}

#productimage img {
    display: block;
}

#productimage .promo {
    position: absolute;
    top: 10px;
    right: 10px;
}

#productimage ul {
    list-style: none;
    text-align: center;
    padding: 20px 0;
}

#productimage li {
    display: inline-block;
    padding: 0;
    max-width: 60px;
    height: auto;
}


/*	SHOPPING CART
------------------------------------------------------------------------------------------------------------------------------------*/

#cart .cell:nth-last-child(-n+3) {
    text-align: right;
}

.head,
.head {
    background-color: #eee;
}

.head .cell {
    border-bottom: 1px solid #000;
}

.total,
.total {
    background-color: #ccc;
}

.total .cell {
    border-top: 1px solid #000;
    border-bottom: 4px double #000;
}

#cart .minus,
#cart .qty,
#cart .plus {
    float: right;
    width: auto;
}

#cart .qty {
    width: 50px;
    text-align: center;
    padding: 0;
}

#cart .checkout:before {
    content: "\f0d1";
    font: 2em/40px FontAwesome;
    padding: 0 20px 0 0;
}

#cart img {
    width: 50px;
    max-width: 50px;
}