/*
	SECTIONS.CSS - THIS IS WHERE THE LAYOUT RELATED CSS
	GOES.
*/


/*	HEADER, NAV, MAIN, FOOTER
------------------------------------------------------------------------------------------------------------------------------------*/

.page {
    margin: 0 auto;
    max-width: 1280px;
}


/*	HEADER
------------------------------------------------------------------------------------------------------------------------------------*/

header {
    background: red;
    height: 120px;
}


/*	NAV
------------------------------------------------------------------------------------------------------------------------------------*/

nav {
    background: #aaa;
}


/*	MAIN
------------------------------------------------------------------------------------------------------------------------------------*/

main {
    padding: 20px 10px;
}


/*	LOGIN
---------------------------------------------------------------------------------------------------*/

#login {
    padding: 20px 0;
}

#login .ghost {
    margin: 0 auto;
    width: 25%;
}


/*	NEWUSER
---------------------------------------------------------------------------------------------------*/

#newuser {
    padding: 20px 0;
}

#newuser .ghost {
    margin: 0 auto;
    width: 25%;
}


/*	FORGOTPASS
---------------------------------------------------------------------------------------------------*/

#forgotpass {
    padding: 20px 0;
}

#forgotpass .ghost {
    margin: 0 auto;
    width: 25%;
}


/*	FOOTER
------------------------------------------------------------------------------------------------------------------------------------*/

footer {
    background: orange;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 200px;
    padding: 10px 0;
}


/*	CONTACT
---------------------------------------------------------------------------------------------------*/

#contact {
    float: left;
    padding: 10px 20px;
}

#contact p {
    padding: 0;
}


/*	SOCIAL
---------------------------------------------------------------------------------------------------*/

#social {
    float: left;
    padding: 10px 20px;
    border-left: 1px solid #aaa;
}