<%for(var i in this) {%>
    <li>
        <%this[i][1]%>
        <button onclick="javascript:router.navigate('calendar/edit/<%this[i][0]%>');" class="button_edit">Edit</button>
        <span><%if(this[i][2]) {%>Public<%}%></span> 
    </li>
<%}%>