<main id="main" data-location="calendar_edit">

<%for(var i in this) {%>
        <%this[i]%>
<%}%>

    <section id="calendar_edit" class="ffix page">
            
        <div class="ghost">
            <div class="box form_calendar_edit ffix">
    
                <h2>Edit calendar: <%this.name%></h2>
    
                <form id="forms_calendar_edit" action="edit_form">

                    <label for="form_calendar_edit_name">Calendar name:</label>
                    <input type="text" id="form_calendar_edit_name" value="<%this.name%>">
    
                    <button data-formid="forms_calendar_edit" data-callback="cb.calendar_edit">Save calendar</button>

                </form>
    
            </div>
        </div>
    
    </section>


</main>



                    