<main id="main" data-location="loggedout">

    <section id="login" class="ffix">
            
        <div class="ghost">
            <div class="box form_login ffix">
    
                <h2>Login</h2>
    
                <form id="forms_login" action="login_form">
                        
                    <fieldset>
                        
                        <label for="username">Enter email:</label>
                        <input type="text" id="username" name="username" placeholder="your@email.com">
                        <label for="password">Enter password:</label>
                        <input type="password" id="password" name="password" placeholder="*****">

                    </fieldset>
                    
                    <button data-formid="forms_login" data-callback="cb.login" class="button_login">Login</button>
    
                </form>

            </div>
        </div>
    
    </section>
    
</main>
