<nav id="mainmenu">
    <div class="page">
        <input type="checkbox" id="navcheck">
        <label for="navcheck"></label>
        <ul class="ffix">
            <%for(var i in this.items) {%>
                <%if(this.items[i].isparent) {%>
                    <li class="root isparent">
                        <button class="button_nav"><%this.items[i].title%></button>
                        <ul>
                            <%for(var k in this.items[i].children) {%>
                                <li>
                                    <button onclick="javascript:router.navigate('<%this.items[i].children[k].link%>');" class="button_nav"><%this.items[i].children[k].title%></button>
                                </li>
                            <%}%>

                        </ul>
                    </li>
                <%} else {%>
                    <li class="root <%if(i==0) {%>selected<%}%>">
                        <button onclick="javascript:router.navigate('<%this.items[i].link%>');" class="button_nav"><%this.items[i].title%></button>
                    </li>
                <%}%>
            <%}%>
        </ul>
    </div>
</nav>

<script data-run>
    navSelect();
</script>

