<nav id="mainmenu">
    <div class="page">
        <input type="checkbox" id="navcheck">
        <label for="navcheck"></label>
        <ul class="ffix">
            <%for(var i in this.items) {%>
                <%if(this.items[i][0]) {%>
                    <li>
                        <button id="<%i%>" onclick="javascript:void();" class="button_nav"><%i%></button>
                        <ul>

                            <%for(var k in this.items[i][1]) {%>
                                <li>
                                    <button id="<%k%>" onclick="javascript:router.navigate('<%this.items[i][1][k][1]%>');" class="button_nav"><%k%></button>
                                </li>
                            <%}%>

                        </ul>
                    </li>
                <%} else {%>
                    <li>
                        <button id="<%i%>" onclick="javascript:router.navigate('<%this.items[i][1]%>');" class="button_nav"><%i%></button>
                    </li>
                <%}%>
            <%}%>
        </ul>
    </div>
</nav>

