My skills:
<%if(this.showSkills) {%>
    <%for(var index in this.skills) {%>
        <a href="#"><%this.skills[index]%></a>        
    <%}%>
    <div data-ajax="getHTML?html=form_forgotpass"></div>
<%} else {%>
    <p>none</p>
<%}%>