<li id="todo_li_nr_<%this.pos%>">
    <input type="hidden" id="todo_nr_<%this.pos%>" name="todos" value="<%this.name%>">
    <%this.name%><button onclick="main_task_new_remove_todo(<%this.pos%>);" type="button">Remove todo</button>
</li>