<style>
	
</style>
<div id="login" style="font-size: 2em">
	<h1 class="someContentHeader">
		This is some content loaded via ajax.
	</h1>
	<p class="someContentHeader">some content.....</p>
	<form id="someForm" action="/handleLogin" class="someContentHeader">
		Email&nbsp;<input type="text" name="email" style="font-size: 1em"><br>
		Password&nbsp;<input type="text" name="password" style="font-size: 1em"></br>
	</form>
	<button class="someContentHeader" data-formid="someForm" data-callback="callBackExample">Hello there</button>
</div>

