<main id="main" data-location="home">

    <section id="home_view" class="ffix page">
            
        <div class="ghost">
            <div class="box ffix">

                <h2>Home view</h2>

                <div data-timeline="" data-position="<%this.start%>" data-zoom="<%this.zoom%>" class="timeline"></div>


            </div>
        </div>

    </section>

</main>
